<ion-header class="ion-no-border" >
  <ion-toolbar class="header">
  <ion-item>
    <ion-label>Filtrar ofertas</ion-label>
    <ion-select (ionChange)="change()" [(ngModel)]="id" placeholder="Select One">
      <ion-select-option value="0">Todos</ion-select-option>
      <ion-select-option value="1">ASIR</ion-select-option>
      <ion-select-option value="2">Automocion</ion-select-option>
      <ion-select-option value="3">Comercio</ion-select-option>
      <ion-select-option value="4">DAM</ion-select-option>
      <ion-select-option value="5">Electricidad</ion-select-option>
      <ion-select-option value="6">Frio</ion-select-option>
      <ion-select-option value="7">Gestion</ion-select-option>
      <ion-select-option value="8">Mecatronica</ion-select-option>
      <ion-select-option value="9">Soldadura</ion-select-option>
      <ion-select-option value="10">Teleco</ion-select-option>
    </ion-select>
  </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list >
    <ion-card *ngFor="let article of data">
      <ion-card-header>
        <ion-card-subtitle>Ciclo: {{article.cicle_name}}</ion-card-subtitle>
        <ion-card-title>{{article.headline}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <img src="assets/cicleImages/{{article.cicle_name | lowercase}}.png" />
        <ion-button (click)="verOferta(article.id)">Ver</ion-button>
        <ion-button (click)="aplicar(article.id)">Aplicar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
