<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Noticias (una botonera x aqui para filtrar estaria de lujo)</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Hace falta un icono por clase(de las fotos pasadas de raul por la plataforma)</p>
        <p>Titular</p>
        <p>Fecha</p>
        <p>Y la descripcion que hay que reducir </p>
          <a>Show</a>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- <p>{{ data ? data : '-' }}</p> -->
        <p>Don Quijote de la Manchaa​ es una novela escrita por el español Miguel de Cervantes Saavedra. 
          Publicada su primera parte con el título de El ingenioso hidalgo don Quijote de la Mancha a comienzos de 1605, 
          es la obra más destacada de la literatura española y una de las principales de la literatura universal, 
          además de ser la más leída después de la Biblia.1​2​ En 1615 apareció su continuación con el título de 
          Segunda parte del ingenioso caballero don Quijote de la Mancha. El Quijote de 1605 se publicó dividido en cuatro partes; 
          pero al aparecer el Quijote de 1615 en calidad de Segunda parte de la obra, quedó revocada de hecho la partición 
          en cuatro secciones del volumen publicado diez años antes por Cervantes.3​

          Es la primera obra genuinamente desmitificadora de la tradición caballeresca y cortés por su tratamiento burlesco.
          Representa la primera novela moderna y la primera novela polifónica; como tal, ejerció un enorme influjo en toda la narrativa europea.
          Por considerarse «el mejor trabajo literario jamás escrito», encabezó la lista de las mejores obras literarias de la historia, 
          que se estableció con las votaciones de cien grandes escritores de 54 nacionalidades a petición del Club Noruego del Libro y Bokklubben World Library en 2002;
          así, fue la única excepción en el estricto orden alfabético que se había dispuesto.4​</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
