<ion-header>
  <ion-toolbar>
    <ion-title>tab4-admin</ion-title>
    <ion-item>
    <ion-label>Filtrar ofertas por ciclo</ion-label>
    <ion-select multiple="true" (ionChange)="setTabla()" [(ngModel)]="ids" placeholder="Selecciona uno o más">
      <ion-select-option *ngFor="let cicle of cicles.data" [value]="cicle.id">{{cicle.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
</ion-content>
